<style>
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.error {
  color:red !important;
  font-style: italic;
}
.row-xs-flex-center {
    display:flex;
    align-items:center;
}
@media ( min-width:768px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}


.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>
<script>
$(document).ready(function () {
  $("#new_user").validate({
  rules: {
    "user[email]": {required: true, email: true, remote:"/users/check_email" },
    "user[password]": {required: true, minlength: 6},
    "user[password_confirmation]": {required: true, equalTo: "#user_password"}
  },
  messages: {
    "user[email]": {required: "Please specify your email",
    email: "Invalid email format, please specify as name@domain.com",
    remote: "Existing email, please specify the other" },
  }
  });
});
</script>
<div class="container">
  <%= form_for @user do |f| %>
  <div class="row-xs-flex-center">
        <div class="modal-dialog modal-lg">
      		<form role="form">
      			<h2>Welcome to EasyTickets</h2>
      			<hr class="colorgraph">
      			<div class="row">
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
                  <%= f.text_field :first_name, class: 'form-control input-lg', placeholder: 'First Name', tabindex: 1%>
      					</div>
      				</div>
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
      						<%= f.text_field :last_name, class: 'form-control input-lg', placeholder: 'Last Name', tabindex: 2%>
      					</div>
      				</div>
      			</div>
      			<div class="form-group">
              <%= f.text_field :identification_number, class: 'form-control input-lg', placeholder: 'Identification Number', tabindex: 3%>
      			</div>
      			<div class="form-group">
              <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'Email Address', tabindex: 4%>
      			</div>
      			<div class="row">
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
                  <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'Password', tabindex: 5%>
      					</div>
      				</div>
      				<div class="col-xs-12 col-sm-6 col-md-6">
      					<div class="form-group">
                  <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Confirm Password', tabindex: 6%>
      					</div>
      				</div>
      			</div>
      			<hr class="colorgraph">
      			<div class="row">
      				<div class="col-xs-12 col-md-6"><%= f.submit 'Register', class:  'btn btn-primary btn-block btn-lg', tabindex: 7%></div>
      				<div class="col-xs-12 col-md-6"><a href="<%= root_path %>" class="btn btn-success btn-block btn-lg">Sign In</a></div>
      			</div>
      		</form>
      </div>
  </div>
  <% end %>
</div>
