<div class="container">
  <%= form_for @event do |f| %>
    <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Description', tabindex: 1%>
    <%= f.text_field :extended_html_description, class: 'form-control input-lg', placeholder: 'Additional Content', tabindex: 1%>
    <%= f.text_field :hero_image_url, class: 'form-control input-lg', placeholder: 'Reference Image ', tabindex: 1%>
    <%= f.text_field :starts_at_date, class: 'form-control input-lg', placeholder: 'mm/dd/yy', tabindex: 1%>
    <%= f.text_field :starts_at_hour, class: 'form-control input-lg', placeholder: 'hh', tabindex: 1%>
    <%= f.text_field :starts_at_minute, class: 'form-control input-lg', placeholder: 'mm', tabindex: 1%>
    <%= f.text_field :starts_at_date, class: 'form-control input-lg', placeholder: 'mm/dd/yy', tabindex: 1%>
    <%= f.text_field :starts_at_hour, class: 'form-control input-lg', placeholder: 'hh', tabindex: 1%>
    <%= f.text_field :starts_at_minute, class: 'form-control input-lg', placeholder: 'mm', tabindex: 1%>
    <div class="col-xs-12 col-md-6"><%= f.submit 'Register', class:  'btn btn-primary btn-block btn-lg', tabindex: 7%>
  <% end %>
</div>
