<!DOCTYPE html>
<html>
<head>
  <title>Find Events and Get Tickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script>
$(function(){
$("#addClass").click(function () {
        $('#qnimate').addClass('popup-box-on');
          });

          $("#removeClass").click(function () {
        $('#qnimate').removeClass('popup-box-on');
          });
})
</script>
<body>
  <div>
    <div>
      <%= render 'layouts/header' %>
    </div>
    <div>
      <%= yield %>
    </div>
    <div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
